# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
apps/ain-valuation-engine/.env
apps/ain-valuation-engine/.codespaces/
apps/ain-valuation-engine/.env
apps/ain-valuation-engine/.codespaces/
**/.env*
**/*.pem
**/user-secrets*.json
# build/test artifacts
coverage/
**/tsconfig.tsbuildinfo
*.tmp
package.json.broken.*
coverage/
**/tsconfig.tsbuildinfo
*.tmp
package.json.broken.*
