
# Increase timeouts for package installation
fetch-timeout=600000
fetch-retry-mintimeout=60000
fetch-retry-maxtimeout=300000
fetch-retries=10
network-timeout=600000
# Add more stability to package resolution
prefer-offline=true
fund=false
# Add more memory
node-options=--max-old-space-size=8192
# Bypass version checking to speed up installation
package-lock=false
