[run]
branch = True
source =
    src
    val_engine
omit =
    */__init__.py
    */tests/*
    */.venv/*
    */venv/*
    */site-packages/*
[report]
show_missing = True
skip_covered = False
fail_under = 80
